<template>
  <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
       width="592px" height="307px" viewBox="0 0 592 307" xml:space="preserve">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M264,106c3.557-0.685,4.515-2.613,7-4c1.333-0.333,2.667-0.667,4-1
c0.333-0.667,0.667-1.333,1-2c2-0.667,4-1.333,6-2c0.333-0.667,0.667-1.333,1-2c1.333-0.333,2.667-0.667,4-1
c0.333-0.667,0.667-1.333,1-2c1-0.333,2-0.667,3-1c0-0.333,0-0.667,0-1c2-0.667,4-1.333,6-2c0.333-0.667,0.667-1.333,1-2
c2-0.667,4-1.333,6-2c0.333-0.667,0.667-1.333,1-2c2-0.667,4-1.333,6-2c0.333-0.667,0.667-1.333,1-2c1.333-0.333,2.667-0.667,4-1
c0.333-0.667,0.667-1.333,1-2c2-0.667,4-1.333,6-2c0.333-0.667,0.667-1.333,1-2c2-0.667,4-1.333,6-2c0.333-0.667,0.667-1.333,1-2
c0.667,0,1.333,0,2,0c0-0.333,0-0.667,0-1c0.667,0,1.333,0,2,0c0.333-0.667,0.667-1.333,1-2c2-0.667,4-1.333,6-2
c0.333-0.667,0.667-1.333,1-2c0.667,0,1.333,0,2,0c0-0.333,0-0.667,0-1c0.667,0,1.333,0,2,0c0.333-0.667,0.667-1.333,1-2
c2-0.667,4-1.333,6-2c0.333-0.667,0.667-1.333,1-2c2-0.667,4-1.333,6-2c0.333-0.667,0.667-1.333,1-2c0.667,0,1.333,0,2,0
c0-0.333,0-0.667,0-1c0.667,0,1.333,0,2,0c0.333-0.667,0.667-1.333,1-2c2-0.667,4-1.333,6-2c0.333-0.667,0.667-1.333,1-2
c2-0.667,4-1.333,6-2c0.333-0.667,0.667-1.333,1-2c7-3.667,14-7.333,21-11c0-0.333,0-0.667,0-1c0.667,0,1.333,0,2,0
c0.333-0.667,0.667-1.333,1-2c2-0.667,4-1.333,6-2c0.333-0.667,0.667-1.333,1-2c2-0.667,4-1.333,6-2c0.333-0.667,0.667-1.333,1-2
c1.333-0.333,2.667-0.667,4-1c0.333-0.667,0.667-1.333,1-2c2-0.667,4-1.333,6-2c0.333-0.667,0.667-1.333,1-2c0.667,0,1.333,0,2,0
c0-0.333,0-0.667,0-1c2-0.667,4-1.333,6-2c0.333-0.667,0.667-1.333,1-2c1.333-0.333,2.667-0.667,4-1c0-0.333,0-0.667,0-1
c1.34-0.452,0.189,0.39,1,1c47.995,85.991,96.005,172.009,144,258c-40.663,0-81.337,0-122,0c0-0.333,0-0.667,0-1
c0.667,0,1.333,0,2,0c1.633-2.409,0.764-0.633,3-2c0-0.333,0-0.667,0-1c0.667,0,1.333,0,2,0c0.333-0.667,0.667-1.333,1-2
c0.667,0,1.333,0,2,0c0.333-0.667,0.667-1.333,1-2c0.667,0,1.333,0,2,0c0-0.333,0-0.667,0-1c0.667,0,1.333,0,2,0
c0-0.333,0-0.667,0-1c0.667,0,1.333,0,2,0c0.333-0.667,0.667-1.333,1-2c1.333-0.333,2.667-0.667,4-1c0-0.333,0-0.667,0-1
c2-0.667,4-1.333,6-2c0-0.333,0-0.667,0-1c1,0,2,0,3,0c0-0.333,0-0.667,0-1c0.667,0,1.333,0,2,0c0-0.333,0-0.667,0-1
c1.333-0.333,2.667-0.667,4-1c0-0.333,0-0.667,0-1c5.333-0.667,10.667-1.333,16-2c-0.308,0.872-1.912,2.213-1,4c0.333,0,0.667,0,1,0
c0-0.333,0-0.667,0-1c0.667,0,1.333,0,2,0c0.667-1,1.333-2,2-3c2.938-1.333,4.894,1.31,7,1c0-0.333,0-0.667,0-1
c5.666,0,11.334,0,17,0c0-0.333,0-0.667,0-1c-36.996-67.327-74.004-134.673-111-202c-2.667,1.333-5.333,2.667-8,4
c0,0.333,0,0.667,0,1c-2,0.667-4,1.333-6,2c-0.333,0.667-0.667,1.333-1,2c-2,0.667-4,1.333-6,2c-0.333,0.667-0.667,1.333-1,2
c-0.667,0-1.333,0-2,0c0,0.333,0,0.667,0,1c-0.667,0-1.333,0-2,0c0,0.333,0,0.667,0,1c-0.667,0-1.333,0-2,0
c-0.333,0.667-0.667,1.333-1,2c-2,0.667-4,1.333-6,2c-0.333,0.667-0.667,1.333-1,2c-2,0.667-4,1.333-6,2
c-0.333,0.667-0.667,1.333-1,2c-2,0.667-4,1.333-6,2c-0.333,0.667-0.667,1.333-1,2c-1.333,0.333-2.667,0.667-4,1
c-0.333,0.667-0.667,1.333-1,2c-2,0.667-4,1.333-6,2c-0.333,0.667-0.667,1.333-1,2c-1.333,0.333-2.667,0.667-4,1
c-0.333,0.667-0.667,1.333-1,2c-2,0.667-4,1.333-6,2c-0.333,0.667-0.667,1.333-1,2c-2,0.667-4,1.333-6,2
c-0.333,0.667-0.667,1.333-1,2c-0.667,0-1.333,0-2,0c0,0.333,0,0.667,0,1c-0.667,0-1.333,0-2,0c-0.333,0.667-0.667,1.333-1,2
c-2,0.667-4,1.333-6,2c-0.333,0.667-0.667,1.333-1,2c-0.667,0-1.333,0-2,0c0,0.333,0,0.667,0,1c-0.667,0-1.333,0-2,0
c-0.333,0.667-0.667,1.333-1,2c-2,0.667-4,1.333-6,2c-0.333,0.667-0.667,1.333-1,2c-2,0.667-4,1.333-6,2
c-0.333,0.667-0.667,1.333-1,2c-1.333,0.333-2.667,0.667-4,1c-0.333,0.667-0.667,1.333-1,2c-0.667,0-1.333,0-2,0
c0,0.333,0,0.667,0,1c-0.667,0-1.333,0-2,0c0,0.333,0,0.667,0,1c-0.667,0-1.333,0-2,0c-0.333,0.667-0.667,1.333-1,2
c-0.667,0-1.333,0-2,0c0,0.333,0,0.667,0,1c-0.667,0-1.333,0-2,0c0,0.333,0,0.667,0,1c-0.667,0-1.333,0-2,0
c-0.333,0.667-0.667,1.333-1,2c-0.667,0-1.333,0-2,0c0,0.333,0,0.667,0,1c-1.333,0.333-2.667,0.667-4,1
c-0.333,0.667-0.667,1.333-1,2c-0.667,0-1.333,0-2,0c0,0.333,0,0.667,0,1c-0.667,0-1.333,0-2,0c0,0.333,0,0.667,0,1
c-0.667,0-1.333,0-2,0c0,0.333,0,0.667,0,1c-0.667,0-1.333,0-2,0c-0.333,0.667-0.667,1.333-1,2c-0.667,0-1.333,0-2,0
c0,0.333,0,0.667,0,1c-0.667,0-1.333,0-2,0c0,0.333,0,0.667,0,1c-0.667,0-1.333,0-2,0c-0.333,0.667-0.667,1.333-1,2
c-0.667,0-1.333,0-2,0c0,0.333,0,0.667,0,1c-0.667,0-1.333,0-2,0c0,0.333,0,0.667,0,1c-1,0.333-2,0.667-3,1c0-0.333,0-0.667,0-1
c-3.808-3.166-5.199-8.772-8-13c-0.333,0-0.667,0-1,0c-0.333-1-0.667-2-1-3c-0.667-0.333-1.333-0.667-2-1C264,108,264,107,264,106z"
        />
    <path fill-rule="evenodd" clip-rule="evenodd" d="M227,108c1.667,0.333,3.333,0.667,5,1c0-0.667,0-1.333,0-2c0.667,0,1.333,0,2,0
c0-0.333,0-0.667,0-1c-2-0.333-4-0.667-6-1c0-0.667,0-1.333,0-2c0.667,0.333,1.333,0.667,2,1c0,0,0.929-1.627,3-1
c0,0.333,0,0.667,0,1c2,0.333,4,0.667,6,1c0,0.333,0,0.667,0,1c1,0,2,0,3,0c0,0.333,0,0.667,0,1c0.667,0,1.333,0,2,0
c0.333,0.667,0.667,1.333,1,2c1.333,0.333,2.667,0.667,4,1c0,0.333,0,0.667,0,1c1,0.667,2,1.333,3,2c-0.577,1.528-0.762,1.641-1,4
c2.356-0.108,2.538-0.297,4-1c0,0.333,0,0.667,0,1c8.418,4.82,10.166,16.523,13,27c0.878,3.247-1.469,12.15-2,15
c-0.333,0-0.667,0-1,0c-3.303-3.841-10.928-5.022-18-5c0.633-5.801,1.413-11.647-1-17c-0.333,0-0.667,0-1,0c0-0.667,0-1.333,0-2
c-0.333,0-0.667,0-1,0c-0.333-1-0.667-2-1-3c0.667,0,1.333,0,2,0c0.333,0.667,0.667,1.333,1,2c1-0.333,2-0.667,3-1
c0,0.333,0,0.667,0,1c1.667,0,3.333,0,5,0c0-0.333,0-0.667,0-1c-1.364-0.534-2.261-0.369-4-1c0-0.333,0-0.667,0-1c-3,0-6,0-9,0
c-1-1.333-2-2.667-3-4c-0.667,0-1.333,0-2,0c-0.333-0.667-0.667-1.333-1-2c-1.667-0.333-3.333-0.667-5-1c0-0.333,0-0.667,0-1
c-3.164-1.028-11.264-0.635-13,0c0,0.333,0,0.667,0,1c-1,0-2,0-3,0c0,0.333,0,0.667,0,1c-1.667-0.333-3.333-0.667-5-1
c0,0.333,0,0.667,0,1c1.139,1.139,0.398,0.003,1,2c-0.667,0-1.333,0-2,0c-1.333,1.667-2.667,3.333-4,5c-0.333,0-0.667,0-1,0
c-0.667,2-1.333,4-2,6c-0.333,0-0.667,0-1,0c0,0.667,0,1.333,0,2c-0.333,0-0.667,0-1,0c0,2.333,0,4.667,0,7
c0.333,3.667,0.667,7.333,1,11c0.333,0,0.667,0,1,0c0,0.667,0,1.333,0,2c0.667,0.333,1.333,0.667,2,1c0.333,1.333,0.667,2.667,1,4
c2.765,4.501,6.365,10.305,4,17c0.667,0,1.333,0,2,0c0.149,7.518-1.046,12.925-3,18c0,1,0,2,0,3c-0.333,0-0.667,0-1,0
c-0.667,2-1.333,4-2,6c-8.259-0.033-14.592-3.484-22-5c0.667-1,1.333-2,2-3c0.667,0,1.333,0,2,0c-0.333-0.667-0.667-1.333-1-2
c2.122-3.385,3.951-5.196,4-11c0.667,0,1.333,0,2,0c-0.667-2.333-1.333-4.667-2-7c2.719,0.301,13.248,3.958,15,3
c0-0.333,0-0.667,0-1c-5-1-10-2-15-3c-0.81-4.396-3.041-5.916-4-10c1.528-0.577,1.641-0.762,4-1c1.271,1.51,4.748,3.447,7,4
c0.844-1.135-0.127-0.146,1-1c-1.139-1.139-0.003-0.398-2-1c0-0.333,0-0.667,0-1c-1.333,0-2.667,0-4,0c-0.333-0.667-0.667-1.333-1-2
c-2.258-1.045-5.903-0.538-7,0c0-0.333,0-0.667,0-1c-0.333,0-0.667,0-1,0c-0.333-2-0.667-4-1-6c0.859,0.358,4.961,2.24,7,1
c0-0.333,0-0.667,0-1c-0.667,0-1.333,0-2,0c0.333-1.333,0.667-2.667,1-4c1,0,2,0,3,0c0-0.333,0-0.667,0-1c-2-0.333-4-0.667-6-1
c0,0.333,0,0.667,0,1c0.667,0,1.333,0,2,0c-0.684,2.927-1.113,3.274-4,4c-0.723-2.762-0.279-2.237-3-3
c-0.172-8.266-1.672-15.638,1-23c0.333,0,0.667,0,1,0c0-1,0-2,0-3c0.333,0,0.667,0,1,0c0.333-1.333,0.667-2.667,1-4
c0.333,0,0.667,0,1,0c0.333-1.333,0.667-2.667,1-4c0.667-0.333,1.333-0.667,2-1c0-0.667,0-1.333,0-2c0.333,0,0.667,0,1,0
c1.155-1.211,0.443-1.988,3-2c0,0,0.674,1.585,2,1c0.333-0.667,0.667-1.333,1-2c1.139-1.139,0.398-0.003,1-2c1.333,0,2.667,0,4,0
c0-0.333,0-0.667,0-1c-0.686-0.129-4.79-1.28-4-2c0.333,0,0.667,0,1,0c0-0.333,0-0.667,0-1c1,0.333,2,0.667,3,1c0-1,0-2,0-3
c1-0.333,2-0.667,3-1c0-0.333,0-0.667,0-1c1.667-0.333,3.333-0.667,5-1c0-0.333,0-0.667,0-1c3-0.333,6-0.667,9-1
c0,0,0.828-1.552,3-1c0,0.333,0,0.667,0,1c1,0,2,0,3,0c0,0.333,0,0.667,0,1c1.333,0,2.667,0,4,0c0,0.333,0,0.667,0,1
C227.139,107.139,226.398,106.003,227,108z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M206,108c0.493,0.427,1.251,1.854,3,1c0-0.333,0-0.667,0-1
C208,108,207,108,206,108z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M224,110c0,0.667,0,1.333,0,2c-0.667,0-1.333,0-2,0c0,0.333,0,0.667,0,1
c1,0,2,0,3,0c0.333-1,0.667-2,1-3c-1.333-0.333-2.667-0.667-4-1c0,0.333,0,0.667,0,1C222.667,110,223.333,110,224,110z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M421,109c4.666,0,9.334,0,14,0c-2,10.333-4,20.667-6,31c1,0.333,2,0.667,3,1
c2.144,1.889,7.67,0.798,9-1c2.333-10.333,4.667-20.667,7-31c4.666,0,9.334,0,14,0c-0.333,1.667-0.667,3.333-1,5
c-0.333,0-0.667,0-1,0c0,2,0,4,0,6c-0.333,0-0.667,0-1,0c0,1.333,0,2.667,0,4c-0.333,0-0.667,0-1,0c0,1.667,0,3.333,0,5
c-1.333,4.666-2.667,9.334-4,14c-0.667,0.333-1.333,0.667-2,1c0,0.667,0,1.333,0,2c-0.667,0.333-1.333,0.667-2,1
c0,0.333,0,0.667,0,1c-0.667,0-1.333,0-2,0c-0.333,0.667-0.667,1.333-1,2c-1.667,0.333-3.333,0.667-5,1c0,0.333,0,0.667,0,1
c-1.667,0-3.333,0-5,0c-1.65,0.479-6.84,1.977-10,1c-2.493-0.771-5.173-2.348-8-3c-0.916-1.625-3.446-4.442-4-6
c-1.593-4.479,1.225-9.571,2-12C418.333,124.334,419.667,116.666,421,109z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M134,111c1.139,1.139,0.003,0.398,2,1C134.861,110.861,135.997,111.602,134,111z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M148,111c0,0.667,0,1.333,0,2c0.333,0,0.667,0,1,0c0-0.667,0-1.333,0-2
C148.667,111,148.333,111,148,111z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M220,111c-0.667,0-1.333,0-2,0c0,0.333,0,0.667,0,1c0.333,0,0.667,0,1,0
c0,0.333,0,0.667,0,1c0.333,0,0.667,0,1,0C220,112.333,220,111.667,220,111z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M157,112c-0.333,1-0.667,2-1,3c0.667,0,1.333,0,2,0c1.803-1.379,4.14,0.354,7,1
c0-0.333,0-0.667,0-1C162.643,113.783,160.289,112.624,157,112z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M246,114c1.691,2.151,2,2,2,2C248.736,115.028,246.266,114.242,246,114z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M233,115c-0.667,0-1.333,0-2,0c0,0.333,0,0.667,0,1c0.333,0,0.667,0,1,0
c0,0.333,0,0.667,0,1c0.333,0,0.667,0,1,0C233,116.333,233,115.667,233,115z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M171,116c0,0.667,0,1.333,0,2c0.333,0,0.667,0,1,0c0-0.667,0-1.333,0-2
C171.667,116,171.333,116,171,116z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M132,118c1.34,2.041,1.637,1.878,5,2c0-0.333,0-0.667,0-1
C135.396,118.395,134.625,118.119,132,118z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M363,111c-1.667-0.333-3.333-0.667-5-1c0-0.333,0-0.667,0-1
c-9.333,0-18.667,0-28,0c-3,14.332-6,28.668-9,43c4.333,0,8.667,0,13,0c1.074-5.405,2.969-9.783,3-16c1.667,0,3.333,0,5,0
c0.356,5.965,2.039,9.306,2,16c5,0,10,0,15,0c-0.113-3.024-1.701-12.581-3-14c0.186-7.864,0.864-4.013,5-7
c0.333-0.667,0.667-1.333,1-2c0.333,0,0.667,0,1,0c0-0.667,0-1.333,0-2c0.333,0,0.667,0,1,0c1.145-1.997,0.159-2.455,2-4
C366.026,115.788,365.069,115.392,363,111z M351,125c-3.093,0.588-6.676,1.059-11,1c0.333-2.667,0.667-5.333,1-8
c5.87-0.071,7.506,0.153,11,2C351.667,121.667,351.333,123.333,351,125z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M202,122c0-0.667,0-1.333,0-2c-1.135,0.844-0.146-0.127-1,1c-0.333,0-0.667,0-1,0
c0,0.333,0,0.667,0,1c0.333,0,0.667,0,1,0c0,0.333,0,0.667,0,1c1,0,2,0,3,0c0-0.333,0-0.667,0-1C203.333,122,202.667,122,202,122z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M227,120c1.166,1.361,1.825,1.528,4,2c0-0.333,0-0.667,0-1
c-1.135-0.844-0.146,0.127-1-1C229,120,228,120,227,120z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M411,121c-0.931-2.875-3.563-5.452-5-8c-3.653-0.83-6.598-2.959-10-4
c-7.666,0-15.334,0-23,0c-2.333,14.665-4.667,29.335-7,44c22.917,0.33,33.89,0.212,42-15c0.333,0,0.667,0,1,0c0-0.667,0-1.333,0-2
c0.333,0,0.667,0,1,0C410.821,134.116,411.999,124.084,411,121z M395,139c-2,0.667-4,1.333-6,2c0,0.333,0,0.667,0,1c-3,0-6,0-9,0
c1-7.333,2-14.667,3-22c3.333,0,6.667,0,10,0c0,0.333,0,0.667,0,1c1.333,0.333,2.667,0.667,4,1c0.333,1.333,0.667,2.667,1,4
c0.333,0,0.667,0,1,0C400.744,131.027,396.269,136.38,395,139z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M188,121c0,1,0,2,0,3c0.667,0,1.333,0,2,0c0,0.333,0,0.667,0,1
c1-0.333,2-0.667,3-1c0.333-0.667,0.667-1.333,1-2c-1.135-0.844-0.146,0.127-1-1c-0.333,0-0.667,0-1,0c0,0.333,0,0.667,0,1
C191.604,122.038,189.756,121.116,188,121z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M200,126c-0.667,0-1.333,0-2,0c0,0.333,0,0.667,0,1c0.333,0,0.667,0,1,0
c0,0.333,0,0.667,0,1c0.333,0,0.667,0,1,0C200,127.333,200,126.667,200,126z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M251,129c0,0.667,0,1.333,0,2c1.135-0.844,0.146,0.127,1-1c0.333,0,0.667,0,1,0
C251.861,128.861,252.997,129.602,251,129z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M145,134c-0.667,0-1.333,0-2,0c0.844,1.135-0.127,0.146,1,1c0,0.333,0,0.667,0,1
c0.333,0,0.667,0,1,0C145,135.333,145,134.667,145,134z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M220,139c2,0,4,0,6,0c0,0.333,0,0.667,0,1c5.035,1.15,5.258,4.618,5,11
c-1.139,1.139-0.398,0.003-1,2c-9.103,5.397-15.512,3.549-15-10C216.433,142.219,219.012,140.229,220,139z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M172,114c-2.028-3.468-7.4-5.276-12-6c0,0.667,0,1.333,0,2c-0.333,0-0.667,0-1,0
c0-0.667,0-1.333,0-2c-5.666,0-11.334,0-17,0c-0.115,0.021-0.387,1.645-2,1c0-0.333,0-0.667,0-1c-5.086-0.047-11.43-0.335-15,1
c-0.333,2-0.667,4-1,6c0.667,0,1.333,0,2,0c-2.701,3.336-4.414,1.92-2,8c-0.667,0-1.333,0-2,0c-0.124,4.439-1.097,7.761-2,11
c-0.665,2.383,1.046,5.684,1,6c-0.667,0.333-1.333,0.667-2,1c0,2,0,4,0,6c-0.333,0-0.667,0-1,0c0,1.333,0,2.667,0,4
c-0.333,0-0.667,0-1,0c0,2,0,4,0,6c-0.333,0-0.667,0-1,0c-1.243,4.185,0.394,8.263-2,11c0,0.333,0,0.667,0,1c11.332,0,22.668,0,34,0
c0-0.333,0-0.667,0-1c0.333,0,0.667,0,1,0c-0.333-0.667-0.667-1.333-1-2c1.333,0,2.667,0,4,0c0.333-0.667,0.667-1.333,1-2
c0.667,0,1.333,0,2,0c0-0.667,0-1.333,0-2c-2.186-0.376-1.908-0.971-2-1c-1.667,0-3.333,0-5,0c0-0.333,0-0.667,0-1
c-0.333,0-0.667,0-1,0c0-0.667,0-1.333,0-2c2.41,1.098,3.239,1.897,7,2c0-0.667,0-1.333,0-2c1,0,2,0,3,0c0,1.667,0,3.333,0,5
c1.527-0.585,1.627-0.799,4-1c-0.602-1.997,0.139-0.861-1-2c0-0.333,0-0.667,0-1c1,0,2,0,3,0c0,0.667,0,1.333,0,2
c5.92,0.173,7.635-1.55,6-6c0.667,0,1.333,0,2,0c0.333-1,0.667-2,1-3c-0.333,0-0.667,0-1,0c0-0.667,0-1.333,0-2c-3-1-6-2-9-3
c0-0.333,0-0.667,0-1c-0.333,0-0.667,0-1,0c0-0.333,0-0.667,0-1c4.065,0.934,5.908,3.183,10,4c0.854-1.127-0.135-0.156,1-1
c-0.732-7.247-5.403-6.999-9-11c2.667-1.667,5.333-3.333,8-5c0-0.667,0-1.333,0-2c0.333,0,0.667,0,1,0c1.161-2.023,0.01-2.234,2-4
C174.105,121.231,174.364,116.303,172,114z M154,153c0,0.667,0,1.333,0,2c-4.666,0.333-9.334,0.667-14,1c0,1,0,2,0,3
c-0.333,0-0.667,0-1,0c0-1,0-2,0-3c-2,0-4,0-6,0c0-0.333,0-0.667,0-1c-0.333,0-0.667,0-1,0c0.71-1.923,1.487-2.595,2-5
c-1.667,0.333-3.333,0.667-5,1c0-0.333,0-0.667,0-1c-0.333,0-0.667,0-1,0c1.155-1.215,4.955-2.642,7-3c0-1,0-2,0-3
c-0.667,0-1.333,0-2,0c0-0.333,0-0.667,0-1c3.059,0.564,8.62,2.053,13,1c0,0,0.911-1.616,3-1c0,0.333,0,0.667,0,1
c2,0.667,4,1.333,6,2c0.656,3.794,0.526,3.482,1,7C155.333,153,154.667,153,154,153z M159,124c-0.667,0-1.333,0-2,0
c-0.109,5.137-1.292,5.063-3,8c-1.333,0-2.667,0-4,0c0,0.333,0,0.667,0,1c-4.566,0.045-9.898,0.163-13-1
c0.551-4.844,2.543-8.853,1-13c0.667,0,1.333,0,2,0c0,0.667,0,1.333,0,2c5,0.333,10,0.667,15,1c0.333,0.667,0.667,1.333,1,2
c1-0.333,2-0.667,3-1C159,123.333,159,123.667,159,124z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M189,147c-0.667,0-1.333,0-2,0c0.844,1.135-0.127,0.146,1,1c0,0.333,0,0.667,0,1
c0.333,0,0.667,0,1,0C189,148.333,189,147.667,189,147z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M191,149c1.126,1.719,0.632,1.355,3,2C193.133,149.973,192.275,149.618,191,149z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M128,153c0,0.333,0,0.667,0,1c-0.333,0-0.667,0-1,0c-1.889,0.859,2,1,2,1
c0.844,1.135-0.127,0.146,1,1c0-0.667,0-1.333,0-2C129.333,153.667,128.667,153.333,128,153z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M194,154c1.139,1.139,0.003,0.398,2,1C194.861,153.861,195.997,154.602,194,154z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M195,157c1.139,1.139,0.003,0.398,2,1C195.861,156.861,196.997,157.602,195,157z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M256,180c-1,0-2,0-3,0c0-0.667,0-1.333,0-2c-6.409-1.206-11.244-2.239-18-1
c-1.382,2.612-1.769,1.693-2,6c1.067,0.514,1.764,1.875,2,2c2.333,0.333,4.667,0.667,7,1c0,0.333,0,0.667,0,1c1,0,2,0,3,0
c0,0.333,0,0.667,0,1c1.333,0,2.667,0,4,0c0,0.333,0,0.667,0,1c4.869,1.892,9.596,1.613,11,7c-1.882-0.275-1.963-0.988-2-1
c-1.667,0-3.333,0-5,0c0-0.333,0-0.667,0-1c-1.139-1.139-0.398-0.003-1-2c-2-0.333-4-0.667-6-1c-0.333,1-0.667,2-1,3c1,0,2,0,3,0
c0,1,0,2,0,3c0.333,0,0.667,0,1,0c0-1,0-2,0-3c0.333,0,0.667,0,1,0c0,0.333,0,0.667,0,1c1,0,2,0,3,0c3.333,1,6.667,2,10,3
c0,1,0,2,0,3c-1.333,0-2.667,0-4,0c0,0.333,0,0.667,0,1c4.604,0.446,4.2,2.1,4,7c-0.333,0-0.667,0-1,0c-0.333,1.667-0.667,3.333-1,5
c-0.333,0-0.667,0-1,0c0,0.667,0,1.333,0,2c-0.667,0.333-1.333,0.667-2,1c0,0.667,0,1.333,0,2c-0.667,0.333-1.333,0.667-2,1
c0,0.333,0,0.667,0,1c-0.667,0-1.333,0-2,0c0,0.333,0,0.667,0,1c-0.667,0-1.333,0-2,0c-0.333,0.667-0.667,1.333-1,2
c-0.667,0-1.333,0-2,0c0,0.333,0,0.667,0,1c-1.333,0.333-2.667,0.667-4,1c0-0.333,0-0.667,0-1c-0.333,0-0.667,0-1,0
c-0.333,0.667-0.667,1.333-1,2c-1.667,0-3.333,0-5,0c0,0.333,0,0.667,0,1c-3.667-0.333-7.333-0.667-11-1c0-0.667,0-1.333,0-2
c-0.333,0-0.667,0-1,0c0,0.667,0,1.333,0,2c-0.977,0.007-1.757-0.907-4-1c0-0.333,0-0.667,0-1c0.333,0,0.667,0,1,0
c1.652-3.124-3.863-1.612-1-5c-1,0-2,0-3,0c-1.139,1.139-0.003,0.398-2,1c0,0.667,0,1.333,0,2c0.667,0,1.333,0,2,0
c0,0.667,0,1.333,0,2c-2-0.667-4-1.333-6-2c-0.333-1.333-0.667-2.667-1-4c-1,0.333-2,0.667-3,1c0-0.333,0-0.667,0-1
c-0.333,0-0.667,0-1,0c0-1,0-2,0-3c1-0.333,2-0.667,3-1c0-0.333,0-0.667,0-1c1.315-0.519-0.152,0.647,1,1c0.333,0,0.667,0,1,0
c0-0.333,0-0.667,0-1c1.198-1.662,1,2,1,2c3.514-0.751,8.315-1.627,11,1c1.139,1.139,0.398,0.003,1,2c4.169-0.715,4.189-0.248,9,0
c0-0.333,0-0.667,0-1c-1.135-0.844-0.146,0.127-1-1c-4.333-0.667-8.667-1.333-13-2c-3.49-1.258-3.822-2.631-9-3
c0.451-2.522,1.38-4.644,3-6c3.353,5.109,15.04,8.026,24,8c0-0.333,0-0.667,0-1c1,0,2,0,3,0c1-1.333,2-2.667,3-4
c0.333,0,0.667,0,1,0s0.667,0,1,0c0-0.333,0-0.667,0-1c-0.333,0-0.667,0-1,0c0.333-1.333,0.667-2.667,1-4c-0.333,0-0.667,0-1,0
c-0.333,0.667-0.667,1.333-1,2c-1.368,0.547-1.479-1.772-2-2c-1,0-2,0-3,0c0-0.333,0-0.667,0-1c-3.667-0.667-7.333-1.333-11-2
c-2.23-0.821-4.203-2.342-7-3c0-1,0-2,0-3c-3.075,0.993-0.956,0.934-4,0c-1.27-2.826-2.575-4.132-3-8c3.615,0.406,8.749,2.793,11,1
c-3.667-0.667-7.333-1.333-11-2c0.028-5.859,1.997-8.292,3-13c3.761,0.103,4.59,0.902,7,2c-0.333-1-0.667-2-1-3
c4.404-0.021,8.092-0.435,11-2c0-0.333,0-0.667,0-1c0.667,0,1.333,0,2,0c2-2.333,4-4.667,6-7c3.333,0,6.667,0,10,0
c0,0.333,0,0.667,0,1c1.333,0,2.667,0,4,0c0,0.333,0,0.667,0,1c0.667,0,1.333,0,2,0c0,0.333,0,0.667,0,1c1,0,2,0,3,0
c0.197,0.106,1.038,1.492,2,2c-1.333,2.667-2.667,5.333-4,8c-0.333,0-0.667,0-1,0C257.564,176.758,256.72,177.407,256,180z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M478,178c-0.667,0-1.333,0-2,0c-0.698,2.834-1.783,2.888-3,5
c-3.069-0.73-4.362-1.657-7-3c0-0.333,0-0.667,0-1c-4.07-1.813-12.957-3.017-16,0c-1.587,1.354-1.737,2.169-2,5
c1.066,0.518,1.756,1.871,2,2c1,0,2,0,3,0c7.619,3.189,21.881,4.644,24,13c3.897,3.783,0.912,11.303-1,15c0,0.667,0,1.333,0,2
c-0.667,0.333-1.333,0.667-2,1c0,0.667,0,1.333,0,2c-3.21,4.522-20.295,13.202-31,10c0-0.333,0-0.667,0-1c-3-0.333-6-0.667-9-1
c0-0.333,0-0.667,0-1c-1.667-0.333-3.333-0.667-5-1c-0.333-0.667-0.667-1.333-1-2c-0.667,0-1.333,0-2,0c0-0.333,0-0.667,0-1
c-1.5-1.176-1.78-1.361-4-2c0-1,0-2,0-3c3.838-2.259,5.262-6.717,10-8c0-0.667,0-1.333,0-2c2.247,0.601,2.486,0.841,4,2
c0,0.333,0,0.667,0,1c2,0.667,4,1.333,6,2c0,0.333,0,0.667,0,1c1,0,2,0,3,0c0,0.333,0,0.667,0,1c5.198,1.705,9.789-0.223,14-1
c0.59-1.281,0.985-2.141,2-3c0-0.667,0-1.333,0-2c-1.901-1.003-4.1-3.235-6-4c-4.666-1-9.334-2-14-3c0-0.667,0-1.333,0-2
c1-0.333,2-0.667,3-1c-1.139-1.139-0.003-0.398-2-1c0-0.333,0-0.667,0-1c-1,0.333-2,0.667-3,1c0,0.667,0,1.333,0,2
c-2.391-0.463-3.145-1.158-5-2c0.333-0.667,0.667-1.333,1-2c-0.333,0-0.667,0-1,0c0,0.333,0,0.667,0,1c-1.396,0.226,0.268-0.375-1-1
c-1.361-1.166-1.528-1.825-2-4c0.667,0,1.333,0,2,0c0-0.333,0-0.667,0-1c-1,0-2,0-3,0c0-1.667,0-3.333,0-5c1,0,2,0,3,0
c0-0.333,0-0.667,0-1c-2.041-1.34-1.878-1.637-2-5c1.964-1.771,0.831-2.204,2-4c0.667-0.333,1.333-0.667,2-1c0-0.667,0-1.333,0-2
c1.333-1,2.667-2,4-3c0-0.333,0-0.667,0-1c0.667,0,1.333,0,2,0c0-0.333,0-0.667,0-1c2-0.667,4-1.333,6-2c0-0.333,0-0.667,0-1
c4.069-1.598,19.876-1.49,24,0c0,0.333,0,0.667,0,1c1,0,2,0,3,0c0,0.333,0,0.667,0,1c2,0.667,4,1.333,6,2c0,0.333,0,0.667,0,1
c1,0.667,2,1.333,3,2C481.35,173.808,478.97,174.403,478,178z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M277,164c5.666,0,11.334,0,17,0c-0.333,3.333-0.667,6.667-1,10
c-0.667,0-1.333,0-2,0c2.3,6.022-1.671,19.337-3,26c-3-0.667-6-1.333-9-2c0,1,0,2,0,3c-0.333,0-0.667,0-1,0c0-0.333,0-0.667,0-1
c-1.333,0-2.667,0-4,0c0-0.333,0-0.667,0-1c-1.139-1.139-0.398-0.003-1-2c0.667,0,1.333,0,2,0c0-0.333,0-0.667,0-1
c-2.51-1.417-2.866-2.05-3-6c0.333,0,0.667,0,1,0c0-2,0-4,0-6C274.717,178.28,276.391,170.54,277,164z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M353,172c-2.333-0.333-4.667-0.667-7-1c0,0.333,0,0.667,0,1
c1.909,0.751,1.02-0.692,2,1c-0.333,0-0.667,0-1,0c-0.313,2.599,0.098,1.972,1,3c0-0.333,0-0.667,0-1c1.139-1.139,0.398-0.003,1-2
c0.667,0,1.333,0,2,0c0,0.667,0,1.333,0,2c3.743,0.087,5.442,0.927,8,2c1.203,2.957,4.334,11.188,3,16c-0.333,0-0.667,0-1,0
c0,1.667,0,3.333,0,5c-1.604,0.605-2.375,0.881-5,1c0-0.333,0-0.667,0-1c-1,0-2,0-3,0c0,0.333,0,0.667,0,1
c3.121,0.229,4.731,1.05,7,2c-1.667,3.333-3.333,6.667-5,10c-1.667-0.333-3.333-0.667-5-1c0,0.333,0,0.667,0,1
c2.762,0.723,2.237,0.279,3,3c-2.731,1.584-2.446,2.742-7,3c-1.139-1.139-0.003-0.398-2-1c0-0.667,0-1.333,0-2
c-3.086-0.035-5.146,0.292-7,1c0.333,1,0.667,2,1,3c-1.333,0-2.667,0-4,0c0,0.333,0,0.667,0,1c3,0.333,6,0.667,9,1
c-0.723,2.762-0.279,2.237-3,3c0,0.333,0,0.667,0,1c-3.667-0.333-7.333-0.667-11-1c-5.922-1.946-12.635-4.574-19-6
c0-0.667,0-1.333,0-2c-1.667-0.333-3.333-0.667-5-1c0,0.333,0,0.667,0,1c-1.333,0-2.667,0-4,0c0,0.667,0,1.333,0,2
c2.333,0.333,4.667,0.667,7,1c0,1.667,0,3.333,0,5c1.333,0.333,2.667,0.667,4,1c0-0.333,0-0.667,0-1c-0.333,0-0.667,0-1,0
c0-1,0-2,0-3c2.665,0.605,4.537,1.949,7,3c0-0.667,0-1.333,0-2c2,0.333,4,0.667,6,1c0.333,1,0.667,2,1,3
c4.202-0.257,5.706-1.176,9,0c0,0.333,0,0.667,0,1c-3.072,0.269-7.525,1.301-10,2c-9.333,0-18.667,0-28,0c0.333-1,0.667-2,1-3
c-0.333,0-0.667,0-1,0c0-0.333,0-0.667,0-1c0.333,0,0.667,0,1,0c0-0.333,0-0.667,0-1c0,0-1.328-0.497-1-2c0.333,0,0.667,0,1,0
c0-2,0-4,0-6c1,0,2,0,3,0c0-0.667,0-1.333,0-2c-0.667,0-1.333,0-2,0c0.333-2,0.667-4,1-6c0.333,0,0.667,0,1,0
c0.867,1.027,1.725,1.382,3,2c-0.333,1-0.667,2-1,3c1.667,0.333,3.333,0.667,5,1c0-0.333,0-0.667,0-1c-1-0.333-2-0.667-3-1
c0-0.667,0-1.333,0-2c1.904,0.347,2,1,2,1c2,0,4,0,6,0c0,0.333,0,0.667,0,1c1,0,2,0,3,0c0,0.333,0,0.667,0,1
c3.667,0.333,7.333,0.667,11,1c0,0.333,0,0.667,0,1c3,0.333,6,0.667,9,1c0-0.333,0-0.667,0-1c-2.333-0.333-4.667-0.667-7-1
c0-0.333,0-0.667,0-1c0.333,0,0.667,0,1,0c0.579-0.417,0.146-1.633,2-1c0,0.333,0,0.667,0,1c0.667,0,1.333,0,2,0
c0-0.667,0-1.333,0-2c2.333-1.667,4.667-3.333,7-5c0.888-1.313,2.608-6.245,3-8c2.333,0.333,4.667,0.667,7,1c0-0.333,0-0.667,0-1
c-3.121-0.229-4.731-1.05-7-2c0.884-2.502,1.251-4.892,0-8c-0.333,0-0.667,0-1,0c0-0.667,0-1.333,0-2c-0.333,0-0.667,0-1,0
c0.333-1,0.667-2,1-3c-1.333,0-2.667,0-4,0c-3.006-3.442-10.493-3.111-17-3c-0.667,3.667-1.333,7.333-2,11
c-5.333-1.333-10.667-2.667-16-4c1-6.666,2-13.334,3-20c7.092-3.678,22.614-2.075,33-2c4,1.333,8,2.667,12,4
C351.944,169.801,352.385,169.575,353,172z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M424,164c-0.667,5-1.333,10-2,15c-6.309,0.005-14.256,0.021-19-1
c-2.18-0.469-2.998,1-3,1c-4,0-8,0-12,0c-0.333,3-0.667,6-1,9c-0.667,0-1.333,0-2,0c0,0.667,0,1.333,0,2
c10.251-0.934,18.208-1.038,32-1c-0.667,4.333-1.333,8.667-2,13c-7,0-14,0-21,0c-3.181,0.005-7.314-0.504-9,1
c-1.139,1.139-0.398,0.003-1,2c-3.333-0.667-6.667-1.333-10-2c0,0.333,0,0.667,0,1c2.216,0.119,6.811,0.863,8,2c0.333,0,0.667,0,1,0
c1.155,1.734-0.447,6.455-1,7c5,0,10,0,15,0c1.166,1.361,1.825,1.528,4,2c0-0.667,0-1.333,0-2c5,0,10,0,15,0c-0.667,5-1.333,10-2,15
c-7.333,0-14.667,0-22,0c-7.484-2.265-17.172-5.462-26-6c0,0.333,0,0.667,0,1c0.667,0,1.333,0,2,0c0,0.333,0,0.667,0,1
c0.667-0.333,1.333-0.667,2-1c0,0.333,0,0.667,0,1c1.667,0,3.333,0,5,0c0,0.333,0,0.667,0,1c0.667,0,1.333,0,2,0
c0,0.333,0,0.667,0,1c3.023,1.263,5.782-0.141,8,2c-7.333,0-14.667,0-22,0c0-2,0-4,0-6c0.667,0,1.333,0,2,0
c-1.27-3.362-0.669-3.487,0-7c1.667,0.333,3.333,0.667,5,1c0,0.333,0,0.667,0,1c-0.333,0-0.667,0-1,0c0.333,1,0.667,2,1,3
c3.336,0.026,4.527,0.525,7,1c0-1,0-2,0-3c0.333,0,0.667,0,1,0c0.769,0.769,14.338,5.555,17,4c0-0.333,0-0.667,0-1
c-6.908-0.457-15.164-4.091-21-6c-3.685-1.205-5.534,0.53-8-2c-1.139-1.139-0.398-0.003-1-2c0.333,0,0.667,0,1,0c0-2,0-4,0-6
c0.333,0,0.667,0,1,0c0-0.667,0-1.333,0-2c0.333,0,0.667,0,1,0c-0.333-1.333-0.667-2.667-1-4c0.333,0,0.667,0,1,0
c0.333-3,0.667-6,1-9c0.667,0,1.333,0,2,0c0.333-1.333,0.667-2.667,1-4c-0.667,0-1.333,0-2,0c0.044-2.856,2.993-19.917,4-21
c2.17-1.917,9.123-1,13-1C399.332,164,411.668,164,424,164z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M331,167c1.139,1.139,0.003,0.398,2,1C331.861,166.861,332.997,167.602,331,167z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M253,168c1.166,1.361,1.825,1.528,4,2c0-0.333,0-0.667,0-1
c-1.135-0.844-0.146,0.127-1-1C255,168,254,168,253,168z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M325,170c0.667,0,1.333,0,2,0c0-0.333,0-0.667,0-1c-1.135-0.844-0.146,0.127-1-1
c-0.333,0-0.667,0-1,0C325,168.667,325,169.333,325,170z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M316,170c1.139,1.139,0.003,0.398,2,1C316.861,169.861,317.997,170.602,316,170z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M386,174c0-0.667,0-1.333,0-2c-3.773-0.238-6.245-0.897-9-2c0,0.333,0,0.667,0,1
c-0.333,0-0.667,0-1,0c0,0.333,0,0.667,0,1C379.333,172.667,382.667,173.333,386,174z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M330,173c0.493,0.427,1.251,1.854,3,1c0-0.333,0-0.667,0-1
C332,173,331,173,330,173z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M254,174c-0.667,0-1.333,0-2,0c0.844,1.135-0.127,0.146,1,1c0,0.333,0,0.667,0,1
c0.333,0,0.667,0,1,0C254,175.333,254,174.667,254,174z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M337,174c0,0.667,0,1.333,0,2c0.667,0,1.333,0,2,0c0-0.667,0-1.333,0-2
C338.333,174,337.667,174,337,174z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M255,175c1.139,1.139,0.003,0.398,2,1C255.861,174.861,256.997,175.602,255,175z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M277,177c0,0.667,0,1.333,0,2c1,0,2,0,3,0c0-0.333,0-0.667,0-1
c-0.333,0-0.667,0-1,0c1.602-2.24,1.669,0.11,3-1c0-0.333,0-0.667,0-1C280.333,176.333,278.667,176.667,277,177z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M221,177c1.139,1.139,0.003,0.398,2,1C221.861,176.861,222.997,177.602,221,177z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M121,178c5.656,0.145,12.068-0.016,20,0c-0.372,6.973-1.407,14.499,2,20
c0.667,0.333,1.333,0.667,2,1c2.029,2.999,1.931,4.973,6,6c0,0.667,0,1.333,0,2c3.766,0.41,5.296,2.138,8,3c4.333,0,8.667,0,13,0
c0-0.333,0-0.667,0-1c0.667,0,1.333,0,2,0c0-0.333,0-0.667,0-1c2-0.667,4-1.333,6-2c0-0.333,0-0.667,0-1
c3.667,0.667,7.333,1.333,11,2c0,0.667,0,1.333,0,2c4.751-0.065,7.77,0.705,11,2c-0.844,1.135,0.127,0.146-1,1
c-2.181,4.223-7.387,10.344-13,11c0-0.333,0-0.667,0-1c-1,0-2,0-3,0c0,0.333,0,0.667,0,1c1,0,2,0,3,0c0,0.667,0,1.333,0,2
c-4.437,1.047-7.765,3.705-12,5c-2,0-4,0-6,0c0,0.333,0,0.667,0,1c-3.23,0.903-8.286-0.497-10-1c-2,0-4,0-6,0c0-0.333,0-0.667,0-1
c-2-0.333-4-0.667-6-1c0-0.333,0-0.667,0-1c-1.333-0.333-2.667-0.667-4-1c0-0.333,0-0.667,0-1c-1.333-0.333-2.667-0.667-4-1
c-0.667-1-1.333-2-2-3c-3.54-2.516-6.299-2.306-7-8c-4.079-1.168-1.152-0.412-3-3c-0.667-0.333-1.333-0.667-2-1c0-0.667,0-1.333,0-2
C121.532,199.089,118.769,189.825,121,178z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M161,178c2.333,0,4.667,0,7,0c0,0.333,0,0.667,0,1c5.035,1.15,5.258,4.618,5,11
c-1.139,1.139-0.398,0.003-1,2c-4.478,2.261-11.958,5.518-14-2c-0.333,0-0.667,0-1,0c0-2.667,0-5.333,0-8c0.333,0,0.667,0,1,0
C159,180.667,160,179.333,161,178z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M228,178c0.493,0.427,1.251,1.854,3,1c0-0.333,0-0.667,0-1
C230,178,229,178,228,178z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M379,180c1,0,2,0,3,0c0-0.333,0-0.667,0-1C378.84,178.887,380.126,177.045,379,180
z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M206,184c1.139,1.139,0.003,0.398,2,1C206.861,183.861,207.997,184.602,206,184z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M383,185c0,0.667,0,1.333,0,2c0.667,0,1.333,0,2,0c0-0.667,0-1.333,0-2
C384.333,185,383.667,185,383,185z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M302,187c5.666,1.333,11.334,2.667,17,4c-1,6.333-2,12.667-3,19
c-1.667-0.333-3.333-0.667-5-1c0-0.333,0-0.667,0-1c1.314-0.809,1.178-0.704,2-2c-4.091-0.483-4.069-1.814-9-2c0,0.667,0,1.333,0,2
c0.667,0,1.333,0,2,0c0,0.667,0,1.333,0,2c-2.333-0.667-4.667-1.333-7-2c0-0.667,0-1.333,0-2c1,0,2,0,3,0c0-0.333,0-0.667,0-1
c-0.667,0-1.333,0-2,0c0-1,0-2,0-3c0.667,0,1.333,0,2,0c-0.771-1.016-1.229-0.984-2-2c1.942-1.988,1.078-4.789,2-8
c0.333,0,0.667,0,1,0C302.667,189,302.333,188,302,187z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M349,187c1.139,1.139,0.003,0.398,2,1C349.861,186.861,350.997,187.602,349,187z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M231,190c0,0.667,0,1.333,0,2c1,0.333,2,0.667,3,1c0-0.667,0-1.333,0-2
c1.135-0.844,0.146,0.127,1-1c-2.333-0.333-4.667-0.667-7-1c0,0.333,0,0.667,0,1C229,190,230,190,231,190z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M134,191c1.139,1.139,0.003,0.398,2,1C134.861,190.861,135.997,191.602,134,191z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M236,191c0.489,0.514,6.476,2.89,8,2c0-0.333,0-0.667,0-1
C241.333,191.667,238.667,191.333,236,191z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M404,193c0.493,0.427,1.251,1.854,3,1c0-0.333,0-0.667,0-1
C406,193,405,193,404,193z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M136,194c0,0.667,0,1.333,0,2c0.333,0,0.667,0,1,0c0-0.667,0-1.333,0-2
C136.667,194,136.333,194,136,194z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M139,196c1.139,1.139,0.003,0.398,2,1C139.861,195.861,140.997,196.602,139,196z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M238,196c1.139,1.139,0.003,0.398,2,1C238.861,195.861,239.997,196.602,238,196z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M384,196c1.139,1.139,0.003,0.398,2,1C384.861,195.861,385.997,196.602,384,196z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M389,196c0,1,0,2,0,3c0.333,0,0.667,0,1,0c0-1,0-2,0-3
C389.667,196,389.333,196,389,196z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M413,196c1.139,1.139,0.003,0.398,2,1C413.861,195.861,414.997,196.602,413,196z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M287,204c-0.333,1.667-0.667,3.333-1,5c0.333,0,0.667,0,1,0c0,0.333,0,0.667,0,1
c-0.333,0-0.667,0-1,0c0,1.667,0,3.333,0,5c-0.333,0-0.667,0-1,0c0,2,0,4,0,6c-0.333,0-0.667,0-1,0c0,1.667,0,3.333,0,5
c-1,0.333-2,0.667-3,1c-2.285,2.089-10.884,1.101-15,1c0.333-2.333,0.667-4.667,1-7c0.333,0,0.667,0,1,0c0,0.333,0,0.667,0,1
c0.859,1.889,1-2,1-2c-2.01-0.574-0.865,0.12-2-1c1.139-1.139,0.398-0.003,1-2c0.667,0,1.333,0,2,0c-1.139-1.139-0.003-0.398-2-1
c0.333-1.667,0.667-3.333,1-5c0.667-0.333,1.333-0.667,2-1c0.327-1.495-1.89-1.413-2-2c-0.26-1.39,0.638,0.367,1-1c0-2,0-4,0-6
c1.528-0.577,1.641-0.762,4-1c0,0.333,0,0.667,0,1c1.333,0,2.667,0,4,0c0,0.333,0,0.667,0,1c1.333,0.333,2.667,0.667,4,1
c0,0.333,0,0.667,0,1c0.333,0,0.667,0,1,0c0-0.333,0-0.667,0-1C284.333,203.333,285.667,203.667,287,204z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M201,203c-1.333,0.333-2.667,0.667-4,1c0-0.333,0-0.667,0-1
c-1.333-0.333-2.667-0.667-4-1c0,0.333,0,0.667,0,1c1.139,1.139,0.398,0.003,1,2c2.737-0.886,4.073-0.223,7,1
C201,205,201,204,201,203z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M252,204c0-0.667,0-1.333,0-2c-1,0-2,0-3,0c0,0.333,0,0.667,0,1
c0.333,0,0.667,0,1,0C251.139,204.139,250.003,203.398,252,204z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M369,202c0,0.333,0,0.667,0,1c1.333,0,2.667,0,4,0c0-0.333,0-0.667,0-1
C371.667,202,370.333,202,369,202z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M350,205c0.667,0,1.333,0,2,0c0-0.333,0-0.667,0-1c-1.135-0.844-0.146,0.127-1-1
c-0.333,0-0.667,0-1,0C350,203.667,350,204.333,350,205z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M137,205c1.126,1.719,0.632,1.355,3,2c0-0.333,0-0.667,0-1
C139,205.667,138,205.333,137,205z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M462,205c1.139,1.139,0.003,0.398,2,1C462.861,204.861,463.997,205.602,462,205z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M131,206c1.126,1.719,0.632,1.355,3,2C133.133,206.973,132.275,206.618,131,206z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M254,206c1.139,1.139,0.003,0.398,2,1C254.861,205.861,255.997,206.602,254,206z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M271,207c0.523,0.548,7.183,3.105,9,2c0-0.333,0-0.667,0-1
C277.268,207.508,274.82,207.018,271,207z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M148,208c1.256,1.909,1.014,1.659,4,2c0-0.333,0-0.667,0-1
C150.667,208.667,149.333,208.333,148,208z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M3,261c0-0.667,0-1.333,0-2c1-0.333,2-0.667,3-1c0-0.333,0-0.667,0-1
c0.667,0,1.333,0,2,0c0.333-0.667,0.667-1.333,1-2c1.333-0.333,2.667-0.667,4-1c0.333-0.667,0.667-1.333,1-2c2-0.667,4-1.333,6-2
c0.333-0.667,0.667-1.333,1-2c1.333-0.333,2.667-0.667,4-1c0.333-0.667,0.667-1.333,1-2c1.333-0.333,2.667-0.667,4-1
c0.333-0.667,0.667-1.333,1-2c1.333-0.333,2.667-0.667,4-1c0.333-0.667,0.667-1.333,1-2c0.667,0,1.333,0,2,0c0-0.333,0-0.667,0-1
c0.667,0,1.333,0,2,0c0.333-0.667,0.667-1.333,1-2c2-0.667,4-1.333,6-2c0.333-0.667,0.667-1.333,1-2c1.333-0.333,2.667-0.667,4-1
c0.333-0.667,0.667-1.333,1-2c1.333-0.333,2.667-0.667,4-1c0.333-0.667,0.667-1.333,1-2c2-0.667,4-1.333,6-2
c0.333-0.667,0.667-1.333,1-2c1.333-0.333,2.667-0.667,4-1c0.333-0.667,0.667-1.333,1-2c1.333-0.333,2.667-0.667,4-1
c0.333-0.667,0.667-1.333,1-2c5.666-0.333,11.334-0.667,17-1c8.333-2,16.667-4,25-6c1.333,2.333,2.667,4.667,4,7
c-0.333,0-0.667,0-1,0c-1.774,1.977-1.946,0.844-4,2c0,0.333,0,0.667,0,1c-0.667,0-1.333,0-2,0c-0.333,0.667-0.667,1.333-1,2
c-0.667,0-1.333,0-2,0c0,0.333,0,0.667,0,1c-0.667,0-1.333,0-2,0c-0.333,0.667-0.667,1.333-1,2c-0.667,0-1.333,0-2,0
c0,0.333,0,0.667,0,1c-0.667,0-1.333,0-2,0c0,0.333,0,0.667,0,1c-0.667,0-1.333,0-2,0c0,0.333,0,0.667,0,1c-0.667,0-1.333,0-2,0
c-0.333,0.667-0.667,1.333-1,2c-2,0.667-4,1.333-6,2c-0.333,0.667-0.667,1.333-1,2c-0.667,0-1.333,0-2,0
c-2.372,1.34-3.895,3.181-7,4c0,0.333,0,0.667,0,1c81.325,0,162.675,0,244,0c7.333,7.666,14.667,15.334,22,23
C233.678,261,118.322,261,3,261z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M188,211c2,0.333,4,0.667,6,1c0-0.333,0-0.667,0-1
C190.589,210.328,188.899,207.846,188,211z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M344,210c1.139,1.139,0.003,0.398,2,1C344.861,209.861,345.997,210.602,344,210z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M149,216c0-0.667,0-1.333,0-2c-3.518-0.474-3.206-0.344-7-1c0,0.333,0,0.667,0,1
C145.097,215.643,143.795,215.898,149,216z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M150,214c0,0.667,0,1.333,0,2c1,0,2,0,3,0c0-0.333,0-0.667,0-1
C152,214.667,151,214.333,150,214z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M321,214c1.691,2.151,2,2,2,2C323.736,215.028,321.266,214.242,321,214z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M254,215c1.139,1.139,0.003,0.398,2,1C254.861,214.861,255.997,215.602,254,215z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M404,217c2,0.333,4,0.667,6,1c0-0.333,0-0.667,0-1
C406.982,215.754,405.06,214.217,404,217z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M283,217c-0.667,0-1.333,0-2,0c0.844,1.135-0.127,0.146,1,1c0,0.333,0,0.667,0,1
c0.333,0,0.667,0,1,0C283,218.333,283,217.667,283,217z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M426,217c0,0.667,0,1.333,0,2c0.667,0,1.333,0,2,0c0-0.667,0-1.333,0-2
C427.333,217,426.667,217,426,217z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M342,218c1.667,0,3.333,0,5,0c0,0.333,0,0.667,0,1c-1.667,0-3.333,0-5,0
C342,218.667,342,218.333,342,218z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M144,220c1.691,2.151,2,2,2,2C146.736,221.028,144.266,220.242,144,220z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M164,220c1.139,1.139,0.003,0.398,2,1C164.861,219.861,165.997,220.602,164,220z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M236,220c-0.333,0.667-0.667,1.333-1,2c0.074-0.042,2.897-1.586,2-2
C236.667,220,236.333,220,236,220z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M272,222c1.333,0.333,2.667,0.667,4,1c0-0.333,0-0.667,0-1c0.667,0,1.333,0,2,0
c0-0.333,0-0.667,0-1c-1.499-0.06-5.12,0.802-5-1c-0.333,0-0.667,0-1,0C272,220.667,272,221.333,272,222z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M398,220c0,0.667,0,1.333,0,2c0.333,0,0.667,0,1,0
C398.426,219.99,399.12,221.135,398,220z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M334,221c1.139,1.139,0.003,0.398,2,1C334.861,220.861,335.997,221.602,334,221z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M430,221c1.139,1.139,0.003,0.398,2,1C430.861,220.861,431.997,221.602,430,221z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M155,222c0,0.333,0,0.667,0,1c-1.333,0-2.667,0-4,0c0,0.333,0,0.667,0,1
c2.333-0.333,4.667-0.667,7-1c0,0.333,0,0.667,0,1c1,0,2,0,3,0c0,0.333,0,0.667,0,1c5.333,1,10.667,2,16,3c0-0.333,0-0.667,0-1
c-1.135-0.844-0.146,0.127-1-1C169,224.667,162,223.333,155,222z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M448,222c1.894,1.861,6.314,2.002,9,3C455.225,221.877,453.063,221.851,448,222z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M237,223c0,0.667,0,1.333,0,2c0.333,0,0.667,0,1,0
C237.426,222.99,238.12,224.135,237,223z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M276,226c0-0.667,0-1.333,0-2c-3.955-0.339-2.907-0.964-6,0
c0.844,1.135-0.127,0.146,1,1c0,0.333,0,0.667,0,1C272.667,226,274.333,226,276,226z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M408,223c1.139,1.139,0.003,0.398,2,1C408.861,222.861,409.997,223.602,408,223z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M306,226c0-0.667,0-1.333,0-2c-0.667,0-1.333,0-2,0c0.333,0.667,0.667,1.333,1,2
c1,0.333,2,0.667,3,1C306.861,225.861,307.997,226.602,306,226z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M234,225c1.139,1.139,0.003,0.398,2,1C234.861,224.861,235.997,225.602,234,225z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M410,225c1.139,1.139,0.003,0.398,2,1C410.861,224.861,411.997,225.602,410,225z"/>
    </svg>
</template>
