<template>
  <div class="copyright-credits">
    <div class="copyright-credits-inner">
      <div>
        <nuxt-link :to="{ name: 'slug', params: { slug: 'credits' } }"
          >Credits</nuxt-link
        >
      </div>
      <div>
        Copyright &copy; 2020, Fn00b, Ashley Harrington
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
.copyright-credits {
  background-color: $black;
  padding: $l-10;
}

.copyright-credits-inner {
  display: flex;
  justify-content: space-between;
  max-width: $l-8xl;
  margin-left: auto;
  margin-right: auto;
  color: $pink-100;
  font-size: 1.3rem;
  line-height: 1;
}
</style>
