<template>
  <section class="home-jumbo-tron">
    <div class="home-jumbo-tron-inner">
      <img
        src="/img/fn00b-sm.jpg"
        class="fn00b-picture"
        alt="Photo of Fn00b soldering a circuit"
      />
      <h1 class="welcome">Welcome!</h1>
    </div>
  </section>
</template>

<style scoped lang="scss">
.home-jumbo-tron {
  background-image: url(/img/nick-fewings-OcALKeCIKBg-unsplash.png);
  padding-left: $l-6;
  padding-right: $l-6;
  width: $l-full;
  background-color: $pink-900;
  background-position: center;
  background-size: cover;
}

.home-jumbo-tron-inner {
  display: flex;
  flex-direction: column;
}

.fn00b-picture {
  width: $l-84;
  margin-left: auto;
  margin-right: auto;
  margin-top: $l-8;
  border-color: $pink-100;
  border-width: 8px;
  border-radius: 9999px;
}

.welcome {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $l-6;
  margin-top: $l-2;
  font-weight: 800;
  font-size: 6rem;
  line-height: $lh-6xl;
  color: $pink-100;
}

@media (min-width: 768px) {
  .home-jumbo-tron {
    height: $l-68;
  }

  .home-jumbo-tron-inner {
    margin-left: auto;
    margin-right: auto;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: $l-8xl;
  }

  .fn00b-picture {
    margin-top: $n-4;
    margin-left: 0;
    margin-right: 0;
  }

  .welcome {
    margin-left: 0;
    margin-right: 0;
    padding-top: $l-20;
  }
}
</style>
