<template>
  <main class="main">
    <section class="main-inner content">
      <nuxt />
    </section>
  </main>
</template>

<style scoped lang="scss">
.main {
  padding-left: $l-6;
  padding-right: $l-6;
  padding-top: $l-16;
  padding-bottom: $l-20;
}

@media (min-width: 1024px) {
  .main-inner {
    max-width: $l-8xl;
    margin-left: auto;
    margin-right: auto;
  }
}
</style>

<style lang="scss">
@import '../../assets/css/variables.scss';

.content h1 {
  font-size: $t-7xl;
  line-height: $lh-7xl;
  color: $gray-800;
  padding-bottom: $l-12;
  font-weight: $fw-black;
}

.content h2 {
  font-size: $t-6xl;
  line-height: $lh-6xl;
  color: $gray-700;
  font-weight: $fw-extra-bold;
  padding-bottom: $l-4;
}

.content h3 {
  font-size: $t-5xl;
  line-height: $lh-5xl;
  color: $gray-600;
  font-weight: $fw-bold;
  padding-bottom: $l-2;
}

.content h4 {
  font-size: $t-4xl;
  line-height: $lh-4xl;
  margin-top: $l-5;
  color: $gray-600;
  font-weight: $fw-bold;
}

.content p {
  font-size: 1.9rem;
  line-height: 1.8;
  margin-bottom: $l-8;
}

.content a {
  color: $pink-600;
}

.content p a {
  font-weight: $fw-bold;
}

.content ul {
  margin-bottom: $l-6;
}

.content ul li {
  list-style: inside disc;
  font-size: 1.25rem;
  line-height: 1.625;
}

@media (min-width: 640px) {
  .content p {
    font-size: 1.6rem;
    line-height: 1.8;
  }
}
</style>
