<template>
  <header class="header">
    <div class="header-wrapper">
      <div class="logo-wrapper">
        <!-- logo -->
        <div class="logo">
          <nuxt-link to="/" class="home-link">
            <img src="/img/fn00b-sm.png" class="shield" alt="Fn00b.com" />
          </nuxt-link>
        </div>
        <layout-nav-hamburger-toggle />
      </div>
      <!-- menu wrapper, 2nd row -->
      <div class="main-menu-wrapper">
        <!-- main nav -->
        <layout-nav-main-menu />
      </div>
    </div>
  </header>
</template>

<style scoped lang="scss">
.header {
  background-color: $gray-900;
  color: $gray-300;
  overflow: visible;
}

.logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: $l-6;
  padding-right: $l-6;
  padding-top: $l-2-5;
  padding-bottom: $l-2-5;
}

.logo {
  z-index: 10;
}

.home-link {
  display: inline-block;
  width: $l-auto;
  height: $l-24;
}

.home-link:hover,
.home-link:focus {
  outline: 2px solid $pink-300;
}

.shield {
  width: $l-auto;
  height: $l-24;
  margin-left: 0;
  margin-right: $l-4;
  padding-left: $l-2;
  padding-right: $l-2;
}

.main-menu-wrapper {
  padding-left: $l-6;
  padding-right: $l-6;
}

@media (min-width: 1024px) {
  .header {
    height: $l-32;
  }

  .header-wrapper {
    max-width: $l-8xl;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }

  .logo-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .home-link {
    width: $l-auto;
    height: $l-32;
  }

  .home-link:hover,
  .home-link:focus {
    outline: none;
  }

  .shield {
    height: $l-40;
    padding-top: $l-2;
    padding-bottom: 0;
  }
}
</style>
