<template>
  <footer class="footer">
    <!-- footer items wrapper -->
    <div class="footer-wrapper">
      <div class="footer-inner">
        <!-- social -->
        <div class="social">
          <nav class="social-menu">
            <a class="social-menu-item" href="https://twitter.com/Fn00b">
              <svg
                class="social-menu-icon"
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="186.991px"
                height="186.991px"
                viewBox="0 0 186.991 186.991"
                xml:space="preserve"
              >
                <path
                  d="M184.702,60.628c-3.08-1.656-6.945-2.152-10.284-3.191c-1.926-0.6-3.859-1.152-5.808-1.624 c1.528-2.514,3.214-4.93,5.155-7.039c4.604-4.998-2.774-11.277-7.054-7.046c-0.008-0.01-0.016-0.02-0.022-0.03 c-1.375,1.437-2.637,3.011-3.852,4.632c-0.854,0.858-1.733,1.69-2.609,2.524c-5.328-8.563-13.466-14.969-24.113-15.933 c-19.327-1.752-29.619,14.193-26.978,31.325C82.904,59.708,57.36,45.937,46.265,20.72c-1.873-4.258-8.789-2.96-9.732,1.272 c-5.055,22.681,1.533,42.954,18.19,56.664c-6.649,0.775-13.195,0.988-20.332,0.189c-4.749-0.532-6.568,5.916-3.68,8.885 c7.811,8.03,16.571,12.875,26.425,15.638c-4.732,2.256-9.631,4.113-15.468,4.741c-4.295,0.462-6.791,5.178-3.57,8.619 c0.926,0.99,1.862,1.921,2.804,2.811c-0.5,1.697,0.192,3.607,2.276,4.223c1.703,0.503,3.387,1.032,5.065,1.569 c4.948,3.202,10.17,5.227,15.825,6.026c-17.479,11.134-36.56,14.226-58.784,12.902c-2.868-0.172-5.297,2.532-5.284,5.283 c0.004,0.81,0.008,1.617,0.012,2.427c0.009,1.724,0.967,3.788,2.611,4.552c66.337,30.836,157.084,3.682,164.704-77.675 c0.389-4.154,0.144-8.533-0.639-12.876c2.135,0.546,4.243,1.23,6.341,1.876c3.212,0.99,7.26,2.616,10.564,1.282 C187.041,67.733,188.602,62.726,184.702,60.628z M55.703,117.953c-1.022-0.553-2.031-1.16-3.023-1.843 c1.442-0.45,2.82-1.01,4.204-1.563c-0.169,0.805-0.114,1.631,0.101,2.401C56.478,117.197,56.046,117.534,55.703,117.953z M141.404,48.154c-0.153-0.068-0.277-0.136-0.437-0.204c-1.969-1.97-4.22-3.488-6.663-4.244c2.146,0.164,4.532,0.827,7.146,2.035 C141.437,46.567,141.42,47.367,141.404,48.154z"
                />
              </svg>
            </a>
            <a
              class="social-menu-item"
              href="https://linkedin.com/in/cybersecash"
            >
              <svg
                class="social-menu-icon"
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="190.096px"
                height="190.097px"
                viewBox="0 0 190.096 190.097"
                xml:space="preserve"
              >
                <path
                  d="M186.892,98.951c-1.442-18.705,1.527-37.454-0.301-56.096c-2.507-25.571-27.609-33.609-49.203-37.623 c-30.1-5.595-62.021-7.032-92.346-2.7C32.035,4.389,2.362,13.938,11.147,31.83C7.556,66.303-0.156,100.172,0.879,135.092 c0.796,26.836,10.029,38.648,35.05,45.559c31.718,8.76,66.757,10.441,99.449,8.976c26.147-1.172,46.476-4.653,52.114-33.136 C191.192,137.808,188.339,117.731,186.892,98.951z M37.389,133.479c0.198-0.472,0.385-0.953,0.444-1.495 c0.345-3.133,0.522-6.26,0.763-9.39c0.195,0.031,0.398-0.013,0.597-0.006c0.09,4.96,0.45,9.929,1.058,14.893 C39.257,136.19,38.343,134.813,37.389,133.479z M75.718,140.709c-7.602-0.685-15.294-0.835-21.914,0.688 c-0.474-2.585-0.902-5.21-1.249-7.885c0.602-17.248,1.713-34.478,1.966-51.736c0.43-1.341,0.815-2.694,1.299-4.021 c5.665,0.266,11.72,0.773,17.805,1.075c1.682,10.12,2.345,20.283,2.538,30.468C75.609,119.742,75.652,130.247,75.718,140.709z M70.367,63.031c-0.507,0.48-0.853,0.994-1.099,1.518c-0.552-0.881-1.447-1.52-2.706-1.445 c-8.336,0.497-16.175-3.973-16.712-12.937c-0.476-7.937,5.849-15.538,13.856-16.046c5.913-0.375,10.955,3.457,13.549,8.505 C81.084,50.078,75.6,58.085,70.367,63.031z M147.464,130.657c0.028,0.085,0.08,0.141,0.112,0.222 c0.07,4.543,0.314,9.076,0.95,13.564c-6.919-1.036-14.237-1.248-21.66-1.16c1.727-14.805,0.759-30.589-4.591-44.146 c-1.443-3.658-6.896-5.378-9.067-1.186c-7.323,14.14-5.865,30.217-3.858,45.581c-3.724,0.004-7.402-0.051-10.957-0.303 c-3.505-0.249-7.498-0.757-11.718-1.287c0.387-17.533,0.9-35.079-0.796-52.501c0.233-3.484,0.532-6.973,0.951-10.468 c6.979-0.283,13.639-1.31,19.398-3.806c-0.259,3.578-0.518,7.154-0.718,10.737c-0.255,4.545,6.769,6.612,8.766,2.374 c3.29-6.981,8.864-18.717,18.393-14.311c7.394,3.418,12.002,12.241,15.532,19.107c0.318,0.618,0.61,1.241,0.911,1.862 c-0.604,5.974-0.807,12.017-1.07,17.536C146.946,118.808,145.75,125.485,147.464,130.657z M168.731,171.897 c-2.949,1.995-6.395,3.48-10.152,4.585c0.919-0.408,1.843-0.782,2.757-1.223c0.838-0.405,1.425-1.085,1.839-1.868 c0.555,0.038,1.13,0.012,1.739-0.166c1.406-0.409,2.698-0.894,3.932-1.417C168.805,171.836,168.771,171.871,168.731,171.897z"
                />
              </svg>
            </a>
            <a
              class="social-menu-item social-menu-item--bsides"
              href="https://bsidesrdu.org"
            >
              <layout-bsides-svg
                class="social-menu-icon social-menu-icon--bsides"
              />
            </a>
          </nav>
        </div>
        <div class="footer-nav">
          <div id="logo-bottom">
            <nuxt-link to="/"
              ><img src="/img/fn00b-xs.png" alt="Fn00b.com"
            /></nuxt-link>
          </div>
          <layout-nav-footer-menu />
          <div class="back-to-top">
            <button
              type="button"
              @click="scrollToTop"
              class="back-to-top-button"
            >
              <svg
                class="back-to-top-icon"
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                viewBox="0 0 512 512"
                xml:space="preserve"
              >
                <path
                  d="M374.176,110.386l-104-104.504c-0.006-0.006-0.013-0.011-0.019-0.018c-7.818-7.832-20.522-7.807-28.314,0.002 c-0.006,0.006-0.013,0.011-0.019,0.018l-104,104.504c-7.791,7.829-7.762,20.493,0.068,28.285 c7.829,7.792,20.492,7.762,28.284-0.067L236,68.442V492c0,11.046,8.954,20,20,20c11.046,0,20-8.954,20-20V68.442l69.824,70.162 c7.792,7.829,20.455,7.859,28.284,0.067C381.939,130.878,381.966,118.214,374.176,110.386z"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  methods: {
    scrollToTop() {
      window.scroll({
        top: 0,
        left: 0,
        behavior: 'smooth',
      })
    },
  },
}
</script>

<style scoped lang="scss">
.footer {
  padding-left: $l-6;
  padding-right: $l-6;
  padding-top: $l-6;
  margin-top: auto;
  background-color: $gray-800;
}

.footer-wrapper {
  width: $l-full;
  margin-top: auto;
}

.footer-inner {
  max-width: $l-8xl;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: $l-8;
}

.social {
  margin-top: $n-20;
  margin-bottom: $l-20;
}

.social-menu {
  display: flex;
  justify-content: space-between;
  padding-left: $l-8;
  padding-right: $l-8;
  margin-left: auto;
  margin-right: auto;
}

.social-menu-item {
  background-color: $gray-900;
  padding: $l-6;
  width: $l-32;
  height: $l-32;
  display: block;
  border-radius: 9999px;
  text-align: center;
  color: $pink-400;

  &--bsides {
    padding: 0;
  }
}

.social-menu-icon {
  width: $l-20;
  height: $l-20;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  fill: currentColor;

  &--bsides {
    width: $l-32;
    height: $l-32;
  }
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-to-top {
  display: block;
}

.back-to-top-button {
  background-color: $gray-700;
  color: $pink-300;
  display: block;
  width: $l-16;
  height: $l-16;
}

.back-to-top-button:focus {
  outline: none;
  color: $pink-200;
}

.back-to-top-button:hover {
  color: $pink-200;
}

.back-to-top-icon {
  width: $l-8;
  height: $l-8;
  margin-left: auto;
  margin-right: auto;
  fill: currentColor;
}

@media (min-width: 1024px) {
  .back-to-top {
    display: none;
  }
}
</style>
