<template>
  <p>
    <template v-for="resource in resources">
      <nuxt-link
        :to="{
          name: route,
          params: {
            slug: resource.slug
          }
        }"
        class="career-resource-title-link"
      >
        {{ resource.label }}
      </nuxt-link><br />
    </template>
  </p>
</template>

<script>
export default {
  props: [
    'resources',
    'route',
  ],
}
</script>
