$sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
$mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

$black: #000;
$white: #fff;

$gray-50: #f8f8fa;
$gray-100: #F7FAFC;
$gray-200: #EDF2F7;
$gray-300: #E2E8F0;
$gray-400: #CBD5E0;
$gray-500: #A0AEC0;
$gray-600: #718096;
$gray-700: #4A5568;
$gray-800: #363636;
$gray-900: #1f1f1f;

$pink-100: #f8eff0;
$pink-200: #f8d2d7;
$pink-300: #f8b0c0;
$pink-400: #f880a0;
$pink-500: #f8588f;
$pink-600: #e92e73;
$pink-700: #af2061;
$pink-800: #931855;
$pink-900: #6e1c4a;

$primary: $pink-400;
$secondary: $gray-800;

/* Dimensions */
/* 0 */
$zero: 0;
/* 0.5 */
$l-0-5: 0.125rem;
$n-0-5: -0.125rem;
/* 1 */
$l-1: 0.25rem;
$n-1: -0.25rem;
/* 1.5 */
$l-1-5: 0.375rem;
$n-1-5: -0.375rem;
/* 2 */
$l-2: 0.5rem;
$n-2: -0.5rem;
/* 2.5 */
$l-2-5: 0.625rem;
$n-2-5: -0.625rem;
/* 3 */
$l-3: 0.75rem;
$n-3: -0.75rem;
/* 3.5 */
$l-3-5: 0.875rem;
$n-3-5: -0.875rem;
/* 4 */
$l-4: 1rem;
$n-4: -1rem;
/* 5 */
$l-5: 1.25rem;
$n-5: -1.25rem;
/* 6 */
$l-6: 1.5rem;
$n-6: -1.5rem;
/* 7 */
$l-7: 1.75rem;
$n-7: -1.75rem;
/* 8 */
$l-8: 2rem;
$n-8: -2rem;
/* 9 */
$l-9: 2.25rem;
$n-9: -2.25rem;
/* 10 */
$l-10: 2.5rem;
$n-10: -2.5rem;
/* 11 */
$l-11: 2.75rem;
$n-11: -2.75rem;
/* 12 */
$l-12: 3rem;
$n-12: -3rem;
/* 14 */
$l-14: 3.5rem;
$n-14: -3.5rem;
/* 16 */
$l-16: 4rem;
$n-16: -4rem;
/* 20 */
$l-20: 5rem;
$n-20: -5rem;
/* 24 */
$l-24: 6rem;
$n-24: -6rem;
/* 28 */
$l-28: 7rem;
$n-28: -7rem;
/* 32 */
$l-32: 8rem;
$n-32: -8rem;
/* 36 */
$l-36: 9rem;
$n-36: -9rem;
/* 40 */
$l-40: 10rem;
$n-40: -10rem;
/* 44 */
$l-44: 11rem;
$n-44: -11rem;
/* 48 */
$l-48: 12rem;
$n-48: -12rem;
/* 52 */
$l-52: 13rem;
$n-52: -13rem;
/* 56 */
$l-56: 14rem;
$n-56: -14rem;
/* 60 */
$l-60: 15rem;
$n-60: -15rem;
/* 64 */
$l-64: 16rem;
$n-64: -16rem;
/* 68 */
$l-68: 17rem;
$n-68: -17rem;
/* 72 */
$l-72: 18rem;
$n-72: -18rem;
/* 80 */
$l-80: 20rem;
$n-80: -20rem;
/* 84 */
$l-84: 22.4rem;
$n-84: -22.4rem;
/* 96 */
$l-96: 24rem;
$n-96: -24rem;
/* 192 */
$l-192: 48rem;

/* 6xl */
$l-6xl: 72rem;
$l-8xl: 102.4rem;

$w-screen: 100vw;
$h-screen: 100vh;

$l-full: 100%;
$l-auto: auto;

$l-1-2: 50%;

$l-1-3: 33.333333%;
$l-2-3: 66.666667%;

$l-1-4: 25%;
$l-2-4: $l-1-2;
$l-3-4: 75%;

$l-1-5: 20%;
//$l-2-5: 40%;
$l-3-5: 60%;
$l-4-5: 80%;

$l-1-6: 16.666667%;
$l-2-6: $l-1-3;
$l-3-6: $l-1-2;
$l-4-6: $l-2-3;
$l-5-6: 83.333333%;

$l-min: min-content;
$l-max: max-content;

$t-xs: 0.75rem;
$t-sm: 0.875rem;
$t-base: 1rem;
$t-lg: 1.125rem;
$t-xl: 1.25rem;
$t-2xl: 1.5rem;
$t-3xl: 1.875rem;
$t-4xl: 2.25rem;
$t-5xl: 3rem;
$t-6xl: 3.75rem;
$t-7xl: 4.5rem;
$t-8xl: 6rem;
$t-9xl: 8rem;

$lh-xs: 1rem;
$lh-sm: 1.25rem;
$lh-base: 1.5rem;
$lh-lg: 1.75rem;
$lh-xl: 1.75rem;
$lh-2xl: 2rem;
$lh-3xl: 2.25rem;
$lh-4xl: 1;
$lh-5xl: 1;
$lh-6xl: 1;
$lh-7xl: 1;
$lh-8xl: 1;
$lh-9xl: 1;

$fw-thin: 100;
$fw-extra-light: 200;
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;
