<template>
  <div>
    <h1>{{ title }}</h1>
    <nuxt-content :document="page"></nuxt-content>
    <career-resources-list :resources="resourceTypes" route="resource-types-slug" />
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: this.title,
      meta: [
        { name: 'description', hid: 'description', content: this.description },
      ],
    }
  },

  async asyncData({ $content, store }) {
    const resourceTypes = await store.getters['content/careerResourcesByType']('resourceTypes');
    const page = await $content('resource-types').fetch();

    const title = page.title
    const description = page.description

    return {
      description,
      page,
      title,
      resourceTypes
    }
  },
}
</script>
