<template>
  <div class="layout">
    <layout-page-header />
    <layout-home-jumbo-tron v-if="$route.path === '/'" />
    <layout-page-content />
    <layout-page-footer />
    <layout-copyright-credits />
  </div>
</template>

<style scoped lang="scss">
.layout {
  height: $l-full;
  min-height: $h-screen;
  display: flex;
  flex-direction: column;
  background-color: $pink-100;
}
</style>
