<template>
  <div>
    <h1>Page not found</h1>
    <h2><nuxt-link :to="{ name: 'index' }">Home page</nuxt-link></h2>
  </div>
</template>

<script>
export default {
  props: ['error'],
  layout: 'error', // you can set a custom layout for the error page
}
</script>
