<template>
  <div>
    <component v-if="page" :is="page['content-type']" :page="page" />
  </div>
</template>

<script>
import FullPage from '../components/content/full-page'
import PageSection from '../components/content/page-section'

// noinspection JSUnusedGlobalSymbols
export default {
  components: {
    FullPage,
    PageSection,
  },

  head() {
    return {
      title: this.title,
      meta: [
        { name: 'description', hid: 'description', content: this.description },
      ],
    }
  },

  // nuxtjs' stand-in for data()
  async asyncData({ $content, params, store, $config }) {
    // title & description are for SEO
    let title = null
    let description = null

    // get the contents for this slug from the nuxtjs content module
    const page = await $content(params.slug || 'index')
      .fetch()
      .then(contents => {
        // wait half a second after this loads before turning off the hamburger menu
        // to prevent the flash of the old page before "navigating" to the new page.
        // was bugging me
        setTimeout(() => {
          store.commit('nav/setHamburger', false)
        }, 100)

        // return the contents
        return contents
      })

    title = page.title
    description = page.description

    return {
      page,
      description,
      title,
    }
  },
}
</script>

<style lang="scss">
.content img.right {
  display: inline-block;
  float: right;
  // border-radius: $l-4;
  border-width: 3px;
  border-color: $pink-600;
  margin-left: $l-12;
  margin-bottom: $l-12;
}
</style>
