<template>
  <div>
    <h1>{{ title }}</h1>
    <nuxt-content :document="page"></nuxt-content>
    <career-resources-list v-if="categories" :resources="categories" route="category-slug" />
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: this.title,
      meta: [
        { name: 'description', hid: 'description', content: this.description },
      ],
    }
  },

  async asyncData({ $content, store }) {
    const categories = await store.getters['content/careerResourcesByType']('categories');
    const page = await $content('career-paths').fetch();

    const title = page.title
    const description = page.description


    return {
      description,
      page,
      title,
      categories,
    }
  },
}
</script>
