<template>
  <div>
    <article>
      <div class="hi">
        <h1>Hi! I'm Fn00b!</h1>
        <nuxt-content :document="sections['index']" />
      </div>
      <div class="categories-resource-types">
        <div class="col-left">
          <h2>
            <nuxt-link :to="{ name: 'career-paths' }"
              >Career Paths &amp; Categories</nuxt-link
            >
          </h2>
          <nuxt-content :document="sections['career-paths']" />
          <career-resources-list
            :resources="categories"
            route="category-slug"
          />
        </div>
        <div class="col-right">
          <h2>
            <nuxt-link :to="{ name: 'resource-types' }"
              >Resource Types</nuxt-link
            >
          </h2>
          <nuxt-content :document="sections['resource-types']" />
          <career-resources-list
            :resources="resourceTypes"
            route="resource-types-slug"
          />
        </div>
      </div>
    </article>
  </div>
</template>

<script>
export default {
  async asyncData({ store, $content }) {
    const categories = store.getters['content/careerResourcesByType'](
      'categories'
    )
    const resourceTypes = store.getters['content/careerResourcesByType'](
      'resourceTypes'
    )
    const contents = await $content()
      .where({
        slug: {
          $in: ['index', 'career-paths', 'resource-types'],
        },
      })
      .fetch()

    const sections = contents.reduce((acc, content) => {
      acc[content.slug] = content
      return acc
    }, {})

    return {
      categories,
      sections,
      resourceTypes,
    }
  },
}
</script>

<style scoped lang="scss">
.hi {
  margin-bottom: $l-20;
}

.hi h1 {
  padding-bottom: $l-6;
  font-weight: $fw-extra-bold;
  font-size: $t-7xl;
  line-height: $lh-7xl;
  color: $pink-600;
}

// .hi p {
//   width: $l-2-3;
// }

@media (min-width: 1024px) {
  .categories-resource-types {
    display: flex;
    flex-direction: row;
  }

  .col-left {
    padding-right: $l-6;
    width: 50%;
  }

  .col-right {
    padding-left: $l-6;
    width: 50%;
  }
}
</style>
