<template>
  <div>
    <article class="resources-single">
      <header>
        <h1 class="title">
          <nuxt-link :to="{ name: 'resources-slug', params: { slug: resource.slug } }">
            {{ resource.title }}
            <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="188.694px" height="188.693px" viewBox="0 0 188.694 188.693" xml:space="preserve">
                <path d="M98.313,71.838c-6.639,0.526-6.702,9.935,0,10.357c23.934,1.506,10.567,24.471,2.524,37.632 c-11.57,18.936-27.343,36.946-45.003,50.45c-16.561,12.663-37.519,9.059-32.777-15.409c1.95-10.064,6.785-19.771,13.181-27.734 c2.619-3.262,11.081-13.204,15.07-14.291c0.478-0.13,0.462-0.811,0-0.949c-4.902-1.461-5.162-3.806-11.036-1.719 c-5.325,1.892-9.762,6.737-13.236,10.973c-8.285,10.104-14.465,23.691-15.642,36.775c-2.436,27.074,22.588,38.637,44.692,25.074 c24.507-15.037,45.727-41.674,59.116-66.75C125.111,97.697,127.421,69.533,98.313,71.838z"/>
              <path d="M176.457,18.135c-6.086-30.225-42.542-16.316-58.242-3.701C95.78,32.461,23.095,119.702,90.457,123.336 c6.553,0.353,6.495-9.753,0-10.15c-47.763-2.921,15.527-73.059,29.367-86.393c10.342-9.964,40.243-29.035,46.543-5.876 c5.918,21.755-12.732,46.373-29.202,57.901c-4.93,3.451-0.49,11.438,4.783,8.183C164.417,73.127,181.921,45.272,176.457,18.135z"/>
              </svg>
          </nuxt-link>
        </h1>
      </header>
      <nuxt-content :document="resource" />
      <div v-if="!!resource.location" class="location">
        {{ resource.location }}
      </div>
      <div v-if="!!resource.url" class="link">
        <a :href="resource.url">{{ resource.url }}</a>
      </div>
    </article>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: this.title,
      meta: [
        { name: 'description', hid: 'description', content: this.description },
      ],
    }
  },

  async asyncData({ $content, route }) {
    // get the contents for this slug from the nuxtjs content module
    const resource = await $content(`career-resources/${route.params.slug}`).fetch()

    // title & description are for SEO
    const title = resource.title;
    const description = `Fn00b's career resources: ${title}`

    return {
      resource,
      title,
      description,
    }
  },
}
</script>

<style scoped lang="scss">
.resources-single {
  margin-bottom: $l-12;
}

.link-icon {
  display: inline;
  width: $l-4;
  height: $l-4;
  fill: currentColor;
}
</style>
