<template>
  <div>
    <nuxt-content :document="page" />
    <div v-if="page.updated" class="updated">
      <p v-html="`<strong>Updated </strong> ${page.updated}`" />
    </div>
  </div>
</template>

<script>
export default {
  props: ['page'],
}
</script>

<style scoped lang="scss">
.updated {
  font-family: $serif;
  font-style: italic;
}
</style>
