<template>
  <div class="dropdown-wrapper" @mouseleave="mouseLeave">
    <a
      aria-haspopup="true"
      class="dropdown-toggle"
      href="#"
      @touchstart.self.stop="touchStart"
      @mouseover.self="mouseOver"
      @keydown.enter="keydownEnter"
      @click.prevent
    >
      {{ label }}
    </a>
    <transition name="dropdown-over">
      <div v-if="isVisible" class="dropdown-menu">
        <nuxt-link
          v-for="link in dropdownMenu.links"
          :key="link.url"
          :to="{
            name: dropdownMenu.route,
            params: { slug: link.slug },
          }"
          class="dropdown-menu-item"
          v-html="link.label"
          @click.native="menuItemClick"
        />
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    label: String,
    dropdownMenu: {
      type: [Array, Object],
      default: function() {
        return {
          route: '',
          params: {},
          links: [],
        }
      },
    },
  },

  data() {
    return {
      menuName: this.label,
      isVisible: false,
    }
  },

  methods: {
    touchStart(e) {
      this.isVisible = true
    },

    mouseOver(e) {
      this.isVisible = true
    },

    mouseLeave() {
      this.isVisible = false
    },

    keydownEnter() {
      this.isVisible = !this.isVisible
    },

    menuItemClick() {
      this.isVisible = !this.isVisible
      this.$store.commit('nav/setHamburger', false)
    },
  },
}
</script>

<style scoped lang="scss">
.dropdown-toggle {
  display: block;
  background-color: $gray-700;
  color: $white;
  font-size: 1.4rem;
  line-height: 2;
  font-weight: 500;
  padding-left: $l-2;
  padding-right: $l-2;
}

.dropdown-toggle:hover {
  background-color: $pink-600;
}

.dropdown-menu {
  //display: none;
  background-color: $gray-100;
  margin-top: -2px;
}

//.dropdown-wrapper:hover .dropdown-menu {
//  display: block;
//}

.dropdown-menu-item {
  display: block;
  color: $gray-900;
  padding-left: $l-2;
  padding-right: $l-2;
  padding-top: $l-1;
  padding-bottom: $l-1;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.2;
}

.dropdown-menu-item:hover {
  background-color: $gray-400;
}

@media (min-width: 1024px) {
  .dropdown-wrapper {
    position: relative;
  }

  .dropdown-toggle {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    padding-top: $l-8;
    padding-bottom: $l-6;
    padding-left: $l-4;
    padding-right: $l-4;
    font-size: 1.225rem;
    font-weight: 500;
    line-height: $l-20;
    height: $l-32;
    background-color: $gray-900;
    border-bottom-width: 2px;
    border-color: $gray-900;
  }

  .dropdown-toggle:hover {
    background-color: transparent;
    //border-color: $pink-400;
  }

  .dropdown-menu {
    position: absolute;
    left: 0;
    padding-top: $l-3;
    padding-bottom: $l-3;
    background-color: $gray-100;
    border-top-width: 2px;
    border-color: $pink-600;
    z-index: 10;
    width: $l-84;
    border-bottom-left-radius: $l-1;
    border-bottom-right-radius: $l-1;
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0,
      rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
  }

  .dropdown-over-enter {
    opacity: 0;
    //transform: translateY(-3px);
  }

  .dropdown-over-enter-active {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 300ms;
  }

  .dropdown-over-enter-to {
    opacity: 1;
    //transform: translateY(0);
  }

  .dropdown-over-leave {
    opacity: 1;
    //transform: translateY(0);
  }

  .dropdown-over-leave-active {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 300ms;
  }

  .dropdown-over-leave-to {
    opacity: 0;
    //transform: translateY(-3px);
  }
}
</style>
