<template>
  <nav class="footer-menu">
    <nuxt-link
      v-for="link in links"
      :key="link.label"
      :to="{ name: link.route, params: link.params }"
      class="footer-menu-item"
      v-html="link.label"
    />
  </nav>
</template>

<script>
export default {
  data() {
    return {
      links: this.$store.getters['menus/items']('footer'),
    }
  },
}
</script>

<style scoped lang="scss">
.footer-menu {
  display: none;
}

.footer-menu-item {
  display: inline-block;
  color: $pink-100;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: $l-3;
  padding-right: $l-3;
  /* letter-spacing: 0.025em; */
  line-height: 2;
}

@media (min-width: 1024px) {
  .footer-menu {
    display: block;
  }
}
</style>
