<template>
  <div class="hamburger-toggle">
    <button
      type="button"
      class="hamburger-button"
      @click="$store.commit('nav/toggleHamburger')"
    >
      <svg
        v-if="!isHamburgerOpen"
        class="hamburger-icon off"
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        viewBox="0 0 512 512.001"
        xml:space="preserve"
      >
        <path
          d="M492,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h472c11.046,0,20-8.954,20-20S503.046,236,492,236z"
        />
        <path
          d="M492,76H20C8.954,76,0,84.954,0,96s8.954,20,20,20h472c11.046,0,20-8.954,20-20S503.046,76,492,76z"
        />
        <path
          d="M492,396H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h472c11.046,0,20-8.954,20-20 C512,404.954,503.046,396,492,396z"
        />
      </svg>
      <svg
        v-else
        class="hamburger-icon on"
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        viewBox="0 0 512 512"
        xml:space="preserve"
      >
        <path
          d="M284.284,256L506.142,34.142c7.811-7.81,7.811-20.474,0-28.284c-7.811-7.811-20.474-7.811-28.284,0L256,227.716 L34.142,5.858c-7.811-7.811-20.474-7.811-28.284,0c-7.811,7.81-7.811,20.474,0,28.284L227.716,256L5.858,477.858 c-7.811,7.811-7.811,20.474,0,28.284c7.81,7.81,20.473,7.811,28.284,0L256,284.284l221.858,221.858 c7.81,7.81,20.473,7.811,28.284,0c7.811-7.811,7.811-20.474,0-28.284L284.284,256z"
        />
      </svg>
    </button>
  </div>
</template>

<script>
export default {
  computed: {
    isHamburgerOpen() {
      return this.$store.getters['nav/isHamburgerOpen']
    },
  },
}
</script>

<style scoped lang="scss">
.hamburger-button {
  display: block;
  width: $l-16;
  height: $l-16;
  cursor: pointer;
}

.hamburger-button:focus {
  //outline: none;
  color: $pink-700;
}

.hamburger-button:hover {
  color: $pink-700;
}

.hamburger-icon {
  width: $l-10;
  height: $l-10;
  margin-left: auto;
  margin-right: auto;
  fill: currentColor;
}

@media (min-width: 1024px) {
  .hamburger-toggle {
    display: none;
  }
}
</style>
