<template>
  <nav class="main-menu" :class="menuClass">
    <template v-for="link in links">
      <template v-if="hasDropdown(link)">
        <dropdown-menu
          :key="link.label"
          :dropdown-menu="link.dropdownMenu"
          :label="link.label"
        />
      </template>
      <template v-else>
        <nuxt-link
          :key="link.label"
          :to="{ name: link.route, params: link.params }"
          class="main-menu-item"
          v-html="link.label"
          @click.native="menuItemClick"
        />
      </template>
    </template>
  </nav>
</template>

<script>
import DropdownMenu from './dropdown-menu'

export default {
  components: {
    DropdownMenu,
  },
  data() {
    return {
      links: this.$store.getters['menus/items']('main'),
    }
  },
  computed: {
    menuClass() {
      return { hidden: !this.$store.getters['nav/isHamburgerOpen'] }
    },
  },
  methods: {
    hasDropdown(link) {
      return link.hasOwnProperty('dropdownMenu')
    },
    menuItemClick() {
      this.$store.commit('nav/setHamburger', false)
    },
  },
}
</script>

<style scoped lang="scss">
.main-menu {
  //padding-top: $l-2;
  padding-bottom: $l-4;
}

.main-menu-item {
  display: block;
  background-color: $gray-700;
  color: $white;
  font-size: 1.4rem;
  line-height: 2;
  font-weight: 500;
  padding-left: $l-2;
  padding-right: $l-2;
}

.main-menu-item:hover {
  background-color: $pink-600;
}

@media (min-width: 1024px) {
  .main-menu {
    padding-left: $l-2;
    padding-right: $l-2;
    padding-top: 0;
    padding-bottom: 0;
    display: flex; /* block? */
    flex-direction: row;
    height: $l-32;
  }

  .main-menu-item {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.225rem;
    line-height: $l-20;
    font-weight: 500;
    letter-spacing: 0.025em;
    padding-top: $l-8;
    padding-bottom: $l-6;
    padding-left: $l-4;
    padding-right: $l-4;
    background-color: $gray-900;
    border-bottom-color: $gray-900;
    border-bottom-width: 2px;
  }

  .main-menu-item:hover {
    background-color: transparent;
    border-color: $pink-400;
  }
}
</style>
